.project__top-item {
    position: relative;
    height: 356px;
    margin-bottom: 200px;
    background-image: url('../../img/project-top.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.project__top-title {
    position: absolute;
    top: 178px;
    left: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 37px 37px 0px 0px;
    border-bottom: 1px solid rgb(255, 255, 255);
    ;
    padding: 41px 125px;
    background: #FFF;
}

.project__top-name {
    color: #292F36;
    font-family: 'DM Serif Display';
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    text-align: center;


}

.project__top-link {
    display: flex;
    gap: 5px;
}

.project__top-btn,
.project__top-slash {
    text-decoration: none;
    color: #4D5053;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.project__body-btn {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(205, 162, 116);
    border-radius: 18px;
    width: 880px;
    margin: 0 auto;
    margin-bottom: 61px;
}

.project__body-button {
    color: rgb(41, 47, 54);
    font-family: Jost;
    font-size: 16px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 2%;
    text-align: center;
    padding: 26px 66px ;
    border-radius: 18px;
    border: 0;
    background: rgb(255, 255, 255);
    width: 219px;
}
.project__body-button:hover {
    color: #fff;
    background: rgb(205, 162, 116);
    transition: 0.3s;
    cursor: pointer;
}



.project__body-col {
    column-count: 2;
}

.project__body-img {
    width: 528px;
}

.project__body-items {
    width: 528px;
    position: relative;
}

.project__body-star {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.project__body-items:hover .project__body-star {
    display: flex;
} 

.project__body-star > svg:hover {
    fill: rgb(255, 169, 40);
    border: rgb(255, 169, 40);
}


.project__body-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    
}

.project__body-name {
    color: rgb(41, 47, 54);
    font-family: 'DM Serif Display';
    font-size: 25px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 2%;
    text-align: left;
}

.project__body-text {
    color: rgb(77, 80, 83);
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1%;
    text-align: left;
}

.project__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 214px;
    padding-top: 75px;
}

.project__pagination-num {
    color: rgb(41, 47, 54);
    font-family: Jost;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    text-transform: capitalize;
    border: 1px solid rgb(205, 162, 116);;
    padding: 26px ;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project__pagination-num:hover {
    cursor: pointer;
    border: 0;
    background: rgb(244, 240, 236);
    transition: 0.5s;
}

